<table id="example2" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Group Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for group in groups %}
	        <tr>
				<td>{{ loop.index }}</td>
				<td> {{ group.getName() }} </td>
				<td>								
					<a href="{{ path('editGroupPage',{'slug': group.getSlug()}) }}">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Edit"></span>
					</a>
					<a href="{{ path('groupPermissionPage',{'slug': group.getSlug()}) }}">
									<span class="glyphicon glyphicon-lock" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Edit Permission"></span>
					<a href="{{ path('deleteGroupPage',{'slug': group.getSlug()}) }}">
						<span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Delete"></span>
					</a>
				</td>
			</tr>
	    {% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>S.N.</th>
			<th>Group Name</th>
			<th>Action</th>
		</tr>
	</tfoot>
</table>



