{% extends "BlogUserBundle::layout.html.twig" %}

{% block body %}
	<div class="container">
		<h3 class="page-title"> {{ title }} </h3>
		<a href="{{ path('adminRegisterUserPage') }}" class="btn btn-info">Create</a>

		{% if not list %}
			<div class="alert alert-error alert-msg">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>No any registered user!</strong>
			</div>
		{% else %}
		
			<table class="table table-striped">
				<thead>
					<tr class="info">
						<th>S.N.</th>
						<th>Username</th>
						<th>Name</th>
						<th>Role</th>
						<th>Action</th>
					</tr>

				</thead>
				<tbody>
					{% for user in users %}
				        <tr>
							<td>{{ loop.index }}</td>
							<td> {{ user.getUsername() }}</td>
							<td> {{ user.getName() }} </td>
							<td> 
								{% if user.hasRole('ROLE_ADMIN') %}
									Admin
								{% elseif user.hasRole('ROLE_AUTHOR') %}
									Author
								{% else %}
									User
								{% endif %}
							</td>
							<td> 
								<a href="{{ path('adminEditUserPage',{'slug': user.getUsername()}) }}">Edit</a>/
								<a href="{{ path('adminDeleteUserPage',{'slug': user.getUsername()}) }}">Delete</a>
							</td>
						</tr>
				    {% endfor %}
					
				</tbody>
			</table>
		{% endif %}
	</div>

{% endblock body %}
