<div class="container">
	<div id="content">
		{% for post in posts if post.status == constant('SpBar\\Bundle\\BlogBundle\\Model\\PostManager::POST_STATUS_PUBLISH') %}
			{% if loop.index is odd and loop.index is not divisible by(3) %}<div class="row"> {% endif %}
				<div class="col-sm-4">
					<div class="beta-blog beta-blog-a beta-blog-3cols">
						<div class="beta-blog-header">
							<div class="media">
								<div class="media-body">
									<h5 class="beta-blog-title"><a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="{{ post.title }}">{{ post.title|length >= 30 ? excerpt(post.title, 30) ~"..." : post.title }}</a></h5>
									<p>By: 
										<a href="{{ path('sp_blog_front_post_index', {'author': post.author.getUsername}) }}">{{ post.author.getName()|trim ? : post.author.getUsername() }}</a> | 
										<a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}#commentSection">{{ post.comments|length > 0 ? post.comments|length : 'No' }} Comments</a>|
										Posted In {% for cat in post.category %} <a href="#">{{ cat.name }} </a> {% if not loop.last %},{% endif %} {% endfor %}
									</p>
								</div>
							</div>
						</div>

						<div class="beta-blog-content">
							<div class="beta-blog-content-preview">
								<div class="pull-left beta-blog-content-details">
									<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
									<span class="beta-blog-date pull-left">
										<span class="beta-blog-month">{{ post.createdAt|date('F') }}</span>
										<span class="beta-blog-day">{{ post.createdAt|date('d') }}</span>
									</span>
									<div class="clearfix"></div>
								</div>
								<a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}"><img src="{{ post.featuredImage ? post.featuredImage : asset('blog/images/blog/img_9.jpg') }}" alt="featured image"></a>
							</div>
							<p>{{ excerpt(post.content, 200)|raw }}</p>
							<a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
						</div>
					</div> <!-- .beta-blog item -->
				</div>
			{% if loop.index is divisible by(3) or loop.index == posts|length %}</div><hr class="mb50">{% endif %}
		{% endfor %}

	{{ knp_pagination_render(posts, 'beta_pagination.html.twig') }}
	</div> <!-- #content -->
</div> <!-- .container -->
