<div class="container">
	<div id="content"><div class="row">
		{% for post in posts if post.status == constant('SpBar\\Bundle\\BlogBundle\\Model\\PostManager::POST_STATUS_PUBLISH') %}
			
				<div class="col-sm-3">
					<div class="beta-blog beta-blog-a beta-blog-4cols">
						<div class="beta-blog-content">
							<div class="beta-blog-content-preview">
								<div class="pull-left beta-blog-content-details">
									<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
									<span class="beta-blog-date pull-left">
										<span class="beta-blog-month">{{ post.createdAt|date('F') }}</span>
										<span class="beta-blog-day">{{ post.createdAt|date('d') }}</span>
									</span>
									<div class="clearfix"></div>
								</div>
								<a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}"><img src="{{ post.featuredImage ? post.featuredImage : asset('blog/images/blog/img_9.jpg') }}" alt="featured image"></a>
							</div>
							<h5 class="beta-blog-title"><a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="{{ post.title }}">{{ post.title|length >= 20 ? excerpt(post.title, 20) ~"..." : post.title }}</a></h5>

							<p>{{ excerpt(post.content, 200)|raw }}</p>
							<a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
						</div>
					</div> <!-- .beta-blog item -->
				</div>
			{% if loop.index is divisible by(4) or loop.index == posts|length %}</div><hr class="mb50">
				{% if loop.index != posts|length %}
					<div class="row" >
				{% endif %}
			{% endif %}
		{% endfor %}
	</div> <!-- #content -->
</div> <!-- .container -->
