<div class="container">
	<div id="content">
		{% for post in posts if post.status == constant('SpBar\\Bundle\\BlogBundle\\Model\\PostManager::POST_STATUS_PUBLISH') %}
		<div class="beta-blog beta-blog-a">
			<div class="beta-blog-header">
				<div class="media">
					<div class="pull-left">
						<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
						<span class="beta-blog-date pull-left">
							<span class="beta-blog-month">{{ post.createdAt|date('F') }}</span>
							<span class="beta-blog-day">{{ post.createdAt|date('d') }}</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="media-body">
						<h5 class="beta-blog-title"><a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}">{{ post.title }}</a></h5>
						<p>By: 
							<a href="{{ path('sp_blog_front_post_index', {'author': post.author.getUsername}) }}">{{ post.author.getName()|trim ? : post.author.getUsername() }}</a> | 
							<a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}#commentSection">{{ post.comments|length > 0 ? post.comments|length : 'No' }} Comments</a>|
							Posted In {% for cat in post.category %} <a href="#">{{ cat.name }} </a> {% if not loop.last %},{% endif %} {% endfor %}
						</p>
					</div>
				</div>
			</div>

			<div class="row beta-blog-content">
				<div class="col-sm-6"><a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}"><img src="{{ post.featuredImage ? post.featuredImage : asset('blog/images/blog/img_9.jpg') }}" alt="featured image"></a></div>
				<div class="col-sm-6">
					<div>
						{{ excerpt(post.content, 1100)|raw }}	
					</div>
					
					<a href="{{ path('sp_blog_front_post_singlePost', {'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div> <!-- .beta-blog item -->
		{% endfor %}
		{{ knp_pagination_render(posts, 'beta_pagination.html.twig') }}
	</div> <!-- #content -->
</div> <!-- .container -->
