<div class="container">
	<div id="content">
		{% for post in posts if post.status == constant('SpBar\\Bundle\\BlogBundle\\Model\\PostManager::POST_STATUS_PUBLISH') %}
		<div class="beta-blog beta-blog-a">
			<div class="beta-blog-header">
				<div class="media">
					<div class="pull-left">
						<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
						<span class="beta-blog-date pull-left">
							<span class="beta-blog-month">{{ post.createdAt|date('F') }}</span>
							<span class="beta-blog-day">{{ post.createdAt|date('d') }}</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="media-body">
						<h5 class="beta-blog-title"><a href="{{ path('sp_blog_public_singlePost', {'slug': post.slug }) }}">{{ post.title }}</a></h5>
						<p>By: <a href="#">{{ post.author.getName()|trim ? : post.author.getUsername() }}</a> | <a href="{{ path('sp_blog_public_singlePost', {'slug': post.slug }) }}#commentSection">{{ post.comments|length > 0 ? post.comments|length : 'No' }} Comments</a>
					</div>
				</div>
			</div>

			<div class="row beta-blog-content">
				<div class="col-sm-6"><a href="#"><img src="{{ asset('blog/images/blog/img_9.jpg') }}" alt=""></a></div>
				<div class="col-sm-6">
					<div>
						{{ post.content|truncate('1100', true)|raw }}	
					</div>
					
					<a href="{{ path('sp_blog_public_singlePost', {'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div> <!-- .beta-blog item -->
		{% endfor %}
		{{ knp_pagination_render(posts, 'beta_pagination.html.twig') }}

		{# <div class="beta-pagination text-center">
			<a href="#"><i class="fa fa-chevron-left"></i></a>
			<a href="#" class="is-active">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">...</a>
			<a href="#"><i class="fa fa-chevron-right"></i></a>
		</div> #}
	</div> <!-- #content -->
</div> <!-- .container -->
{#
<div class="container">
	<div id="content">
		<div class="beta-blog beta-blog-a">
			<div class="beta-blog-header">
				<div class="media">
					<div class="pull-left">
						<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
						<span class="beta-blog-date pull-left">
							<span class="beta-blog-month">June</span>
							<span class="beta-blog-day">25</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="media-body">
						<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>
						<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
					</div>
				</div>
			</div>

			<div class="row beta-blog-content">
				<div class="col-sm-6"><a href="single_type_image.html"><img src="assets/dest/images/blog/img_1.jpg" alt=""></a></div>
				<div class="col-sm-6">
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>

					<p>Sed ut perspiciatis unde oste natus error sit voptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archtecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit astur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>

					<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div> <!-- .beta-blog item -->

		<div class="beta-blog beta-blog-a">
			<div class="beta-blog-header">
				<div class="media">
					<div class="pull-left">
						<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
						<span class="beta-blog-date pull-left">
							<span class="beta-blog-month">June</span>
							<span class="beta-blog-day">25</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="media-body">
						<h5 class="beta-blog-title"><a href="single_type_slideshow.html">Image Slideshow Post Title here</a></h5>
						<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
					</div>
				</div>
			</div>

			<div class="row beta-blog-content">
				<div class="col-sm-6">
					<div class="beta-slider">
						<div class="beta-pager">
						  <a data-slide-index="0" href="#"><span class="beta-pager-item"></span></a>
						  <a data-slide-index="1" href="#"><span class="beta-pager-item"></span></a>
						  <a data-slide-index="2" href="#"><span class="beta-pager-item"></span></a>
						</div>
						
						<div class="beta-slider-items">
							<img src="assets/dest/images/blog/img_2.jpg" alt="">
							<img src="assets/dest/images/blog/img_3.jpg" alt="">
							<img src="assets/dest/images/blog/img_4.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>

					<p>Sed ut perspiciatis unde oste natus error sit voptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archtecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit astur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

					<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<a href="single_type_slideshow.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div> <!-- .beta-blog item -->

		<div class="beta-blog beta-blog-a">
			<div class="beta-blog-header">
				<div class="media">
					<div class="pull-left">
						<span class="beta-blog-type pull-left"><i class="fa fa-play"></i></span>
						<span class="beta-blog-date pull-left">
							<span class="beta-blog-month">June</span>
							<span class="beta-blog-day">25</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="media-body">
						<h5 class="beta-blog-title"><a href="single_type_video.html">Vimeo Player Post Title here</a></h5>
						<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
					</div>
				</div>
			</div>

			<div class="row beta-blog-content">
				<div class="col-sm-6">
					<div class="video-elastic">
						<iframe src="http://player.vimeo.com/video/41499247?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
					</div>
				</div>
				<div class="col-sm-6">
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>

					<p>Sed ut perspiciatis unde oste natus error sit voptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archtecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit astur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

					<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<a href="single_type_video.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div> <!-- .beta-blog item -->

		<div class="beta-blog beta-blog-a">
			<div class="beta-blog-header">
				<div class="media">
					<div class="pull-left">
						<span class="beta-blog-type pull-left"><i class="fa fa-align-left"></i></span>
						<span class="beta-blog-date pull-left">
							<span class="beta-blog-month">June</span>
							<span class="beta-blog-day">25</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="media-body">
						<h5 class="beta-blog-title"><a href="text_page.html">Standard Text Post Title here</a></h5>
						<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
					</div>
				</div>
			</div>

			<div class="beta-blog-content">
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>

				<p>Sed ut perspiciatis unde oste natus error sit voptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archtecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit astur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

				<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
				<a href="text_page.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
			</div>
		</div> <!-- .beta-blog item -->

		<div class="beta-blog beta-blog-a">
			<div class="beta-blog-header">
				<div class="media">
					<div class="pull-left">
						<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
						<span class="beta-blog-date pull-left">
							<span class="beta-blog-month">June</span>
							<span class="beta-blog-day">25</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="media-body">
						<h5 class="beta-blog-title"><a href="single_type_gallery.html">Image Gallery Post Title here</a></h5>
						<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
					</div>
				</div>
			</div>

			<div class="row beta-blog-content">
				<div class="col-sm-6">
					<div class="beta-slider">							
						<div class="beta-slider-items">
							<img src="assets/dest/images/blog/img_2.jpg" alt="">
							<img src="assets/dest/images/blog/img_3.jpg" alt="">
							<img src="assets/dest/images/blog/img_4.jpg" alt="">
						</div>
						
						<div class="text-center">
							<div class="beta-pager-gallery">
							  <a data-slide-index="0" href="#"><img src="assets/dest/images/blog/img_2.jpg" alt="" /></a>
							  <a data-slide-index="1" href="#"><img src="assets/dest/images/blog/img_3.jpg" alt="" /></a>
							  <a data-slide-index="2" href="#"><img src="assets/dest/images/blog/img_4.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>

					<p>Sed ut perspiciatis unde oste natus error sit voptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archtecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit astur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

					<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<a href="single_type_gallery.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div> <!-- .beta-blog item -->

		<div class="beta-blog beta-blog-a">
			<div class="beta-blog-header">
				<div class="media">
					<div class="pull-left">
						<span class="beta-blog-type pull-left"><i class="fa fa-music"></i></span>
						<span class="beta-blog-date pull-left">
							<span class="beta-blog-month">June</span>
							<span class="beta-blog-day">25</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="media-body">
						<h5 class="beta-blog-title"><a href="single_type_audio.html">Audio Blog Post</a></h5>
						<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
					</div>
				</div>
			</div>

			<div class="beta-blog-content">
				<div class="beta-audio">
					
					<audio controls="controls">
					 <source src="assets/dest/audio/jaspertine_-_Guitar_Drone_in_Amaj.mp3" type="audio/mp3">
					
					</audio>
				</div>
				<a href="single_type_audio.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
			</div>
		</div> <!-- .beta-blog item -->

		<div class="beta-blog beta-blog-a">
			<div class="beta-blog-header">
				<div class="media">
					<div class="pull-left">
						<span class="beta-blog-type pull-left"><i class="fa fa-quote-left"></i></span>
						<span class="beta-blog-date pull-left">
							<span class="beta-blog-month">June</span>
							<span class="beta-blog-day">25</span>
						</span>
						<div class="clearfix"></div>
					</div>
					<div class="media-body">
						<h5 class="beta-blog-title"><a href="single_type_quote.html">Blockquotes Post </a></h5>
						<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
					</div>
				</div>
			</div>

			<div class="beta-blog-content">
				<div class="beta-blockquote bg-gray">
					<h5>“Ut enim ad mveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit...”</h5>
					<small>Tom Ford</small>
				</div>
				<a href="single_type_quote.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
			</div>
		</div> <!-- .beta-blog item -->

		<div class="beta-pagination text-center">
			<a href="#"><i class="fa fa-chevron-left"></i></a>
			<a href="#" class="is-active">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">...</a>
			<a href="#"><i class="fa fa-chevron-right"></i></a>
		</div>
	</div> <!-- #content -->
</div> <!-- .container -->
#}