{% set excerptLength = length %}

<!-- get meta information for post -->
{% set featuredMeta = "" %}

{% for meta in post.meta %}
	{% set featuredMeta = meta.source %}
{% endfor %}

{# ###################### Contents based on Post type as twig variable ###################### #}
<!-- content for general post -->
{% set general_content %}
	<!-- content display area for col 1 and 2 -->
	{% if col == 1 or col == 2 %}
		<div class="row beta-blog-content">
			<div class="col-sm-6">
				<a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}">
					<img src="{{ featuredMeta ? featuredMeta : asset('blog/images/featured/default.jpg') }}" alt="featured image">
				</a>
			</div>
			<div class="col-sm-6">
				<p>
					{{ excerpt(post.content, excerptLength)|raw }}	
				</p>		
				<a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	{% endif %}

	<!-- content display area for col 3 -->
	{% if col == 3 %}
		<div class="beta-blog-content">
			<div class="beta-blog-content-preview">
				<div class="pull-left beta-blog-content-details">
					<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
					<span class="beta-blog-date pull-left">
						<span class="beta-blog-month">{{ post.createdAt|date('F') }}</span>
						<span class="beta-blog-day">{{ post.createdAt|date('d') }}</span>
					</span>
					<div class="clearfix"></div>
				</div>
				<a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}"><img src="{{ featuredMeta ? featuredMeta : asset('blog/images/featured/default.jpg') }}" alt="featured image"></a>
			</div>
			<p>{{ excerpt(post.content, excerptLength)|raw }}</p>
			<a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
	{% endif %}
{% endset %}

<!-- content for audio posts -->
{% set audio_content %}
	{% set audioSrc = '' %}
	{% for meta in post.metas %}
	    {% set audioSrc = meta.source %}
	{% endfor %}
	<div class="beta-blog-content">
		<div class="beta-audio">
			<audio controls="controls">
			 	<source src="{{ audioSrc }}" type="audio/mpeg">
			</audio>
		</div>
		<p>{{ excerpt(post.content, excerptLength)|raw }}</p>
		<a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
	</div>
{% endset %}

{% set video_content %}
	{% set videoSrc = '' %}
	{% for meta in post.metas %}
	    {% set videoSrc = meta.source %}
	{% endfor %}
	<div class="row beta-blog-content">
		<div class="video-elastic">
			<video width="320" height="240" controls>
				<source src	="{{ videoSrc }}" type="video/mp4">
			</video> 
		</div>
		<p>{{ excerpt(post.content, excerptLength)|raw }}</p>
		<a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
	</div>	
{% endset %}

{% set gallery_content %}
	<div class="row beta-blog-content">
		<div class="col-sm-6">
			<div class="beta-slider">							
				<div class="beta-slider-items">
					{% for meta in post.metas %}
					    <img src="{{ meta.source }}" alt="">
					{% endfor %}
				</div>
				
				<div class="text-center">
					<div class="beta-pager-gallery">
						{% for meta in post.metas %}
						    <a data-slide-index="{{ loop.index0 }}" href="#"><img src="{{ meta.source }}" alt="" /></a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p>{{ excerpt(post.content, excerptLength)|raw }}</p>
			<a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
{% endset %}

{% set gallery_slideshow_content %}
	<div class="row beta-blog-content">
		<div class="col-sm-6">
			<div class="beta-slider">
				<div class="beta-pager">
					{% for meta in post.metas %}
					    <a data-slide-index="{{ loop.index0 }}" href="#"><span class="beta-pager-item"></span></a>
					{% endfor %}
				</div>
				
				<div class="beta-slider-items">
					{% for meta in post.metas %}
					    <img src="{{ meta.source }}" alt="">
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p>{{ excerpt(post.content, excerptLength)|raw }}</p>
			<a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
{% endset %}


{# ###################### Contents based on Post type as twig variable ############################### #}


{% if col == 1 or col == 2 or col == 3 %}
	<div class="beta-blog-header">
		<div class="media">
			<!-- show this only for col 1 and 2 -->
			{% if col == 1 or col == 2 %}
			<div class="pull-left">
				<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
				<span class="beta-blog-date pull-left">
					<span class="beta-blog-month">{{ post.createdAt|date('F') }}</span>
					<span class="beta-blog-day">{{ post.createdAt|date('d') }}</span>
				</span>
				<div class="clearfix"></div>
			</div>
			{% endif %}
			
			<div class="media-body">
				<h5 class="beta-blog-title"><a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="{{ post.title }}">
					{% if col == 1 %}
						{{ minifyTitle(post.title, 0, false) }}
					{% endif %}
					{% if col == 2 %}
						{{ minifyTitle(post.title, 40, true) }}
					{% endif %}
					{% if col == 3 %}
						{{ minifyTitle(post.title, 30, true) }}
					{% endif %}
				</a></h5>
				<p>By: 
					<a href="{{ path('sp_blog_front_home_author', {'author': post.author.getUsername}) }}">{{ post.author.getName()|trim ? : post.author.getUsername() }}</a> | 
					<a href="{{ path('sp_blog_front_home_single', {'cat_slug': post.category.first.slug ,'slug': post.slug }) }}#commentSection">{{ post.comments|length > 0 ? post.comments|length : 'No' }} Comments</a>|
					Posted In {% for cat in post.category %} <a href="#">{{ cat.name }} </a> {% if not loop.last %},{% endif %} {% endfor %}
				</p>
			</div>
		</div>
	</div>

	<!-- set content based on post types -->
	{% set postType = post.postType.slug %}
	{% if postType == 'audio' %}
		{{ audio_content }}
	{% elseif postType == 'video' %}
		{{ video_content }}
	{% elseif postType == 'gallery' %}
		{{ gallery_slideshow_content }}
	{% else %}
	    {{ general_content }}
	{% endif %}
{% endif %}