{% trans_default_domain 'FOSUserBundle' %}

<div class="user-profile span8">
    <p>{{ 'Username'|trans }}: {{ user.username }}</p>
    <p>{{ 'Email Id'|trans }}: {{ user.email }}</p>
    <p>{{ 'Name'|trans }}: {{ user.name }}</p>
    <p> 
    	<a href="{{ path('editProfilePage') }}" class="btn btn-info">Edit </a>
    	<a href="{{ path('changePasswordPage') }}" class="btn btn-info">Change Password </a>
    </p>
</div>
