{% set postStatus = status %}

<table id="postList" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>S.N.</th>
			<th>Title</th>
			<th>Post Type</th>
			<th>Author</th>
			<th>Created At</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for post in posts if app.user and is_granted('OPERATOR', post) and post.status == postStatus %}
	        <tr>
	        	<td>{{ loop.index }}</td>
				<td> {{ post.title }} </td>
				<td> {{ post.postType.name }} </td>
				<td>  {{ app.user == post.author ? "You" : post.author.username }}</td>
				<td>{{ post.createdAt|date('F d, Y h:i:s A') }}</td>
				<td>
					{% if post.status == publish or post.status == trash  %}
						<a href="{{ path('sp_blog_post_moderate',{'slug': post.slug}) }}">
							<span class="glyphicon glyphicon-comment" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Moderate Comments"></span>
						</a>
					{% endif %}
						<a href="{{ path('sp_blog_post_edit',{'slug': post.slug}) }}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Edit"></span>
						</a>
					{% if post.status == publish %}
						<a href="{{ path('sp_blog_post_trash',{'slug': post.slug}) }}">
							<span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Move to Trash"></span>
						</a>
					{% endif %}
					{% if post.status == draft or post.status == trash  %}
						<a href="{{ path('sp_blog_post_delete',{'slug': post.slug}) }}">
							<span class="glyphicon glyphicon-ban-circle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Delete Permanently"></span>
						</a>
					{% endif %}
				</td>
			</tr>
	    {% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>S.N.</th>
			<th>Title</th>
			<th>Post Type</th>
			<th>Author</th>
			<th>Created At</th>
			<th>Action</th>
		</tr>
	</tfoot>
</table>
{# knp_pagination_render(posts) #}