{% block css %}
    <script src="{{ asset('plugins/tags-manager/tagmanager.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/tags-manager/tagmanager.css') }}" />    
{% endblock css %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig','form_errors.html.twig'] %}

<div class="box-body">
    <form class="form-horizontal" method="POST" action="{{ path('sp_blog_post_new') }}">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <strong>Post Content</strong>
                        </h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}  
                        <br>
                        {{ form_widget(form.content) }}
                        {{ form_errors(form.content) }} 
                        <br>
                        {% if app.user and is_granted('ROLE_BLOG_ADMIN') %}
                            {{ form_widget(form.author) }}
                            {{ form_errors(form.author) }}
                        {% endif %}

                    </div>              
                </div><!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <strong>Tags</strong>
                        </h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <input class="tag-input form-control" type="text">
                        {# {{ form_widget(form.tags) }}
                        {{ form_errors(form.tags) }} #}
                    </div>              
                </div><!-- /.box -->

            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-3">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <strong id="meta-title">Featured Image</strong>
                        </h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {{ form_widget(form.metas) }}
                        {{ form_errors(form.metas) }}
                    </div>
                    <div id="preview-img"></div>
                </div><!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <strong>Post Type</strong>
                        </h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {{ form_widget(form.postType) }}
                        {{ form_errors(form.postType) }}
                    </div>              
                </div><!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <strong>Category</strong>
                        </h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {{ form_widget(form.category) }}
                        {{ form_errors(form.category) }}
                    </div>              
                </div><!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <strong>Confirm</strong>
                        </h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {{ form_widget(form.status) }}
                        {{ form_errors(form.status) }}  
                        <br>
                        <div class="form-group">
					        <div class="col-xs-8">
					            <button type="submit" class="btn btn-info" value="Create">Create</button>
					        </div>
					    </div>
                    </div>              
                </div><!-- /.box -->

            </div><!-- /.col -->
        </div><!-- /.row -->

    </form>
</div>

{% block js %}
    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            var tags = "{{ form.tags.vars.value|escape('js') }}";
            var preSet = Array();
            preSet = tags.split(',');
        
            $(".tag-input").tagsManager({
                prefilled: preSet,
                CapitalizeFirstLetter: false,
                hiddenTagListName: 'spbar_blog_post_new[tags]',
                deleteTagsOnBackspace: true,
                tagsContainer: null,
                tagCloseIcon: '×',
                tagClass: 'tag-input'
            });
        });
    </script>

    <script type="text/javascript">
        $(function(){
            var postType;
            var text;
            var meta;
            var prevImgSrc = '';
            var prevAudioSrc = '';
            var prevVideoSrc = '';
            var self = this;
            setType = function(str){
                text = self.text;
                meta = self.meta;
                switch(str)
                {
                    case "General Post":
                        text = 'Featured Image';
                        meta = 'general';
                        break;
                    case "Audio Post":
                        text = 'Select Audio';
                        meta = 'audio';
                        break;
                    case "Video Post":
                        text = 'Select Video';
                        meta = 'video';
                        break;
                    case "Gallery Post":
                        text = 'Create Gallery';
                        meta = 'gallery';
                        break;
                    // case "Quote Post":
                    //     text = 'Add Quote';
                    //     meta = 'quote';
                    //     break;
                    // case "Slideshow Post":
                    //     text = 'Select Slideshow Photos';
                    //     meta = 'slideshow';
                    //     break;
                }
                $('#meta-title').html(text);
                // $('#meta-btn').html(text);
            }

            postType = $("input[type='radio']:checked").parent().text();
            setType(postType);

            $("input[type='radio']").change(function(){
                self.postType = $(this).parent().text();
                setType(self.postType);

                var src;
                $('#preview-img').hide();
                if(meta == 'general')
                {
                    src = self.prevImgSrc;
                    $('#preview-img').show();
                }else if(meta == 'audio')
                {
                    src = self.prevAudioSrc;
                }else if(meta == 'video')
                {
                    src = self.prevVideoSrc;
                }else{
                    src = '';
                }

                $('[data-type="elfinder-input-field"]').val(src);
            });


            //elfinder form url 
            $('[data-type="elfinder-input-field"][id="spbar_blog_post_new_metas"]').on("click",function() {
                var mt = meta;
                if(mt == 'gallery' || mt == 'general')
                {
                    mt = 'image';
                }
                var childWin = window.open("/blog/web/app_dev.php/elfinder/"+mt+"_form?id=spbar_blog_post_new_metas", "popupWindow", "height=450, width=900");
                
                $(this).on('change', function(){
                    if(meta=='general')
                    {
                        self.prevImgSrc = $(this).val();
                        if(self.prevImgSrc)
                        {
                            $('#preview-img').html('<img class="img-responsive img-rounded" src="'+self.prevImgSrc+'">');
                        }
                    }
                    if(meta == 'audio')
                    {
                        self.prevAudioSrc = $(this).val();
                    }                    
                    if(meta == 'video')
                    {
                        self.prevVideoSrc = $(this).val();
                    }                    
                });
               
            });
            function setValue(value, element_id) {
                $('[data-type="elfinder-input-field"]' + (element_id ? '[id="'+ element_id +'"]': '')).val(value).change();
            }
        });       
    </script>
{% endblock js %}