
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Blog - {% block title %}Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">

    {% stylesheets '@BlogUserBundle/Resources/public/css/login.css' filter="cssrewrite" %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
  </head>

  <body>
    <div class="page-wrapper">
      
      {% block body %}{% endblock %}
      <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
      <script src=" {{ asset('js/bootstrap.min.js') }}"></script>
    </div>
  </body>
</html>
