{% set mmenu = menu %}

<li class="sortable" id="menu-{{ mmenu.id }}">
    <div class="row ns-row">
        <div class="col-xs-12 col-md-9 ns-title">
            {{ mmenu.name }}
        </div>
        <div class="col-xs-12 col-md-3 ns-actions">
            <span class="pull-right">
                <em>({{ mmenu.menuType }})</em>&emsp;
                <a class="edit-menu" href="{{ url('sp_menu_edit', {'id' : mmenu.id}) }}" title="Edit"><img alt="Edit" src="{{ asset('menu/images/edit.png')}}"></a>
                <a class="delete-menu" href="#" title="Delete"><img alt="Delete" src="{{ asset("menu/images/cross.png")}}"></a><input name="menu_id"type="hidden" value="1">
            </span>
        </div>
    </div>
</li>

{# 
<li class="sortable" id="mmenu-{{ mmenu.id }}">
    <div class="panel panel-default">
        <div class="panel-heading ns-title" role="tab" id="{{mmenu.id}}-heading">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="panel-title" id="{{mmenu.id}}-title">
                        <span>{{ mmenu.name }}</span>
                    </h4>
                </div>
                <div class="col-md-4">
                    <span class="pull-right">
                        ({{ mmenu.menuType }}) &emsp;
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{mmenu.id}}-list-group" aria-expanded="false" aria-controls="{{mmenu.id}}-list-group">
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </span>                                    
                </div>
            </div>
        </div>
        <div id="{{mmenu.id}}-list-group" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{mmenu.id}}-heading" aria-expanded="false">
            Home
        </div>
    </div>
</li>
 #}