{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal" >

    {{ form_errors(form) }}

	<div class="control-group">
		<div class="control-label">
        	{{ form_label(form.username) }}
        </div>
        
        <div class="controls">
        	{{ form_widget(form.username, {'attr' : {'placeholder' : 'Username'}}) }}
        	{% if form_errors(form.username) %}
        		<span class="alert alert-error">{{ form_errors(form.username) }}</span>
        	{% endif %}
        </div>
    </div>

    <div class="control-group">

        <div class="control-label">
        	{{ form_label(form.plainPassword.first) }}
        </div>

        <div class="controls">
        	{{ form_widget(form.plainPassword.first, {'attr' : {'placeholder' : 'Password'}}) }}
        </div>
    </div>

    <div class="control-group">

        <div class="control-label">
        	{{ form_label(form.plainPassword.second) }}
        </div>

        <div class="controls">
        	{{ form_widget(form.plainPassword.second, {'attr' : {'placeholder' : 'Confirm Password'}}) }}
        	{% if form_errors(form.plainPassword.first) %}
        		<span class="alert alert-error">{{ form_errors(form.plainPassword.first) }}</span>
        	{% endif %}
        	
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
        	{{ form_label(form.name) }}
        </div>

        <div class="controls">
        	{{ form_widget(form.name, {'attr' : {'placeholder' : 'Suresh Mainali'}}) }}
        	{% if form_errors(form.name) %}
        		<span class="alert alert-error">{{ form_errors(form.name) }}</span>
        	{% endif %}
        </div>
        
    </div>

     <div class="control-group">
        <div class="control-label">
        	{{ form_label(form.email) }}
        </div>

        <div class="controls">
        	{{ form_widget(form.email, {'attr' : {'placeholder' : 'san@gmail.com' }}) }}
        	{% if form_errors(form.email) %}
        		<span class="alert alert-error">{{ form_errors(form.email) }}</span>
        	{% endif %}
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.roles) }}
        </div>
        
        <div class="controls">
            {{ form_widget(form.roles, {'attr' : {'class' : 'form-control' }}) }}
            {% if form_errors(form.roles) %}
                <span class="alert alert-error">{{ form_errors(form.roles) }}</span>
            {% endif %}
        </div>
    </div>
	
	{{form_rest(form)}} 
    
    <div class="control-group">
    	<div class="controls">
        	<input type="submit" class="btn" value="{{ 'Create'|trans }}" />
        </div>
    </div>

</form>
