<div class="box-body">
	<table id="postList" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>S.N.</th>
				<th>Config Name</th>
				<th>Slug</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for config in configs %}
		        <tr>
					<td>{{ loop.index }}</td>
					<td>{{ config.name }} </td>
					<td> {{ config.slug }} </td>
					<td>
						<a href="{{ path('sp_blog_config_edit',{'slug': config.slug}) }}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Edit"></span>
						</a>
						<a href="{{ path('sp_blog_config_delete',{'slug': config.slug}) }}">
							<span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Delete"></span>
						</a>
					</td>
				</tr>
		    {% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>S.N.</th>
				<th>Config Name</th>
				<th>Slug</th>
				<th>Action</th>
			</tr>
		</tfoot>
	</table>
</div><!-- /.box-body -->