{% set comments = post.comments %}
{% set author = post.author %}

<h2 id="commentSection">{{ comments|length > 0 ?'There Are '~ comments|length : 'No' }} Comments</h2>
<div class="space10">&nbsp;</div>

{% for comment in comments if comment.parent == null %}
	<div class="comment depth-1 media">
		<img src="{{ asset(userImage(comment.user)) }}" alt="user image" class="avatar pull-left">
		<div class="media-body">
			<p class="font-large">
				Commented by <a href="#">{{ comment.user.getName()|trim ? : comment.user.getUsername() }} </a> on {{ comment.commentAt|date('F d, y, h:i A')  }}|
				<a href="{{ path('sp_blog_front_comment_new', {'post': post.slug, 'parent': comment.id}) }}" data-toggle="modal" data-target="#modal-action">Reply</a>
				{% if app.user and is_granted('EDIT', comment) %}
					|<a href="{{ path('sp_blog_front_comment_edit', {'id': comment.id}) }}" data-toggle="modal" data-target="#modal-action">Edit</a>
				{% endif %} 
				{% if app.user and is_granted('DELETE', comment) %}
					|<a href="{{ path('sp_blog_front_comment_delete', {'id': comment.id}) }}">Delete</a>
				{% endif %}
			</p>
			<p class="font-large">{{ comment.content }}</p>
		</div>
	</div>
	{% for child in comment.children %}
	    <div class="comment depth-2 media">
			<img src="{{ asset(userImage(child.user)) }}" alt="user image" class="avatar pull-left">
			<div class="media-body">
				<p class="font-large">
					Commented by <a href="#">{{ child.user.getName()|trim ? : child.user.getUsername() }} </a> on {{ child.commentAt|date('F d, y, h:i A')  }}|
					<a href="{{ path('sp_blog_front_comment_new', {'post': post.slug, 'parent': comment.id}) }}" data-toggle="modal" data-target="#modal-action">Reply</a> 
					{% if app.user and is_granted('EDIT', child) %}
						|<a href="{{ path('sp_blog_front_comment_edit', {'id': child.id}) }}" data-toggle="modal" data-target="#modal-action">Edit</a>
					{% endif %}
					{% if app.user and is_granted('DELETE', child) %}
						|<a href="{{ path('sp_blog_front_comment_delete', {'id': child.id}) }}">Delete</a>
					{% endif %}
				</p>
				<p class="font-large">{{ child.content }}</p>
			</div>
		</div>
	{% endfor %}		
{% endfor %}

<div class="space20">&nbsp;</div>
<hr class="mb40">
{% if not (app.user and is_granted("IS_AUTHENTICATED_FULLY")) %}
	<h3>Please login first to comment <a href="{{ path('sp_user_frontend_login') }}" class="beta-btn primary beta-btn-small" data-toggle="modal" data-target="#modal-action">Login<i class="fa fa-chevron-right"></i></a></h3>
	<hr class="mb40">

{% else %}
	<h2>Leave a Reply</h2>
	<div class="space20">&nbsp;</div>
	<form action="{{ path('sp_blog_front_comment_new', {'post': post.slug }) }}" method="post" class="contact-form">
		<div class="form-block">
			<textarea name="content" placeholder="Type message here..."></textarea>
		</div>
		<div class="form-block">
			<button type="submit" class="beta-btn primary">Submit Comment <i class="fa fa-chevron-right"></i></button>
		</div>
	</form>
{% endif %}

<div class="modal fade" id="modal-action" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- <div class="modal-content"> -->
        <div class="modal-content">
            <!-- conten loads from ajax for reply on comment-->
        </div>
    </div>
</div>

{% block js %}
    <script type="text/javascript">

		$('#modal-action').on('shown.bs.modal', function () {
		    $(this).removeData('bs.modal');
		});

        $('#modal-action').on('hide.bs.modal', '.modal', function () {
		  	$(this).removeData('bs.modal');
		});    </script>
{% endblock js %}