{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal">

    {{ form_errors(form) }}

	<div class="control-group">
		<div class="control-label">
        	{{ form_label(form.username) }}
        </div>
        
        <div class="controls">
        	{{ form_widget(form.username, {'attr' : {'placeholder' : 'Username'}}) }}
        	{% if form_errors(form.username) %}
        		<span class="alert alert-error">{{ form_errors(form.username) }}</span>
        	{% endif %}
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
        	{{ form_label(form.name) }}
        </div>

        <div class="controls">
        	{{ form_widget(form.name, {'attr' : {'placeholder' : 'Suresh Mainali'}}) }}
        	{% if form_errors(form.name) %}
        		<span class="alert alert-error">{{ form_errors(form.name) }}</span>
        	{% endif %}
        </div>
        
    </div>

     <div class="control-group">
        <div class="control-label">
        	{{ form_label(form.email) }}
        </div>

        <div class="controls">
        	{{ form_widget(form.email, {'attr' : {'placeholder' : 'san@gmail.com' }}) }}
        	{% if form_errors(form.email) %}
        		<span class="alert alert-error">{{ form_errors(form.email) }}</span>
        	{% endif %}
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
        	{{ form_label(form.current_password) }}
        </div>

        <div class="controls">
        	{{ form_widget(form.current_password, {'attr' : {'placeholder' : 'Current Password'}}) }}
        	{% if form_errors(form.current_password) %}
        		<span class="alert alert-error">{{ form_errors(form.current_password) }}</span>
        	{% endif %}
        	
        </div>
    </div>
	
	{{form_rest(form)}} 
    
    <div class="control-group">
    	<div class="controls">
        	<input type="submit" class="btn btn-info" value="{{ 'Update'|trans }}" />
        </div>
    </div>
</form>
