
{% extends('BlogAdminBundle::Admin/admin_base.html.twig') %}

{% block body_content %}

	<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
			<h1>User<small>(Manage blog routes)</small></h1>
			<ol class="breadcrumb">
				<li><a href="{{ path('adminIndexPage') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				<li class="active">Route</li>
			</ol>
        </section>

        <!-- Main content -->
        <section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Monitor Blog Routes</h3>
							<form method="POST">
								<button class="btn label label-default pull-right" type="submit" name="refreshRoutes"><h6><b> Refresh Routes</b></h6></button>
							</form>
						</div><!-- /.box-header -->
						
						<div class="box-body">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								{% for controller, route in routes %}
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="{{ loop.index }}-heading">
											<h4 class="panel-title" id="{{ loop.index }}-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{ loop.index }}-list-group" aria-expanded="false" aria-controls="{{ loop.index }}-list-group">
													{{ controller }}
												</a>
												<a class="anchorjs-link" href="#{{ loop.index }}-title"><span class="anchorjs-icon"></span></a>
											</h4>
										</div>
										
										<div id="{{ loop.index }}-list-group" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ loop.index }}-heading" aria-expanded="false">
											<ul class="list-group">
												{% for r in route %}
											    	<li class="list-group-item">
											    		<div class="row">
											    			<div class="col-xs-4">{{ loop.index }}. Pathname: <b><i>{{ r.name }}</i></b> </div>
											    			{% if r.desc is not null %}
											    				<div class="col-xs-4">Description: <b><i>{{ r.desc }}</i></b></div>
											    			{% endif %}
											    			<div class="col-xs-3">Url Pattern: <b><i>{{ r.url }}</i></b></div>
											    			<div class="col-xs-1">
											    				<a href="#"><span id="edit" class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Edit"></span></a> 
											    			</div>
											    		</div>
											      	</li>						
												{% endfor %}
											</ul>
										</div>
									</div>
								{% endfor %}
							</div>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
				</div><!-- /.col -->
			</div><!-- /.row -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock body_content %}