<form class="form-horizontal" method="POST">
	<div class="form-group">
		<label for="username" class="col-xs-2 control-label">Username:</label>
		<div class="col-xs-8">
			<input type="text" class="form-control" id="username" name="username" value="{{ user.getUsername() }}" disabled>
		</div>
	</div>

	<div class="form-group">
		<label for="name" class="col-xs-2 control-label">Name:</label>
		<div class="col-xs-8">
			<input type="text" class="form-control" id="name" name="name" value="{{ user.getName() }}" disabled>
		</div>
	</div>

	<div class="form-group">
		<label for="inputRole" class="col-xs-2 control-label">Role:</label>
		<div class="col-xs-8">
			<select class="form-control" id="inputRole" name="roles" required>
				<option value="ROLE_USER" {{ user.hasRole('ROLE_USER') ? 'selected' : '' }}>User</option>
				<option value="ROLE_AUTHOR" {{ user.hasRole('ROLE_AUTHOR') ? 'selected' : '' }}>Author</option>
				<option value="ROLE_ADMIN" {{ user.hasRole('ROLE_ADMIN') ? 'selected' : '' }}>Admin</option>
				<option value="ROLE_SUPER_ADMIN" {{ user.hasRole('ROLE_SUPER_ADMIN') ? 'selected' : '' }}>Super Admin</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-8">
			<button type="submit" class="btn btn-default" name="updateRole" value="Update">Update</button>
		</div>
	</div>
</form>