{% set comments = post.comments %}
{% set author = post.author %}

<h2 id="commentSection">{{ comments|length > 0 ?'There Are '~ comments|length : 'No' }} Comments</h2>
<div class="space10">&nbsp;</div>

{% for comment in comments if comment.parent == null %}
		<div class="comment depth-1 media">
			<img src="{{ asset(userImage(comment.user)) }}" alt="user image" class="avatar pull-left">
			<div class="media-body">
				<p class="font-large">Commented by <a href="#">{{ comment.user.getName()|trim ? : comment.user.getUsername() }} </a> on {{ comment.commentAt|date('F d, y, h:i A')  }} | <a href="#">Reply</a></p>
				<p class="font-large">{{ comment.content }}</p>
			</div>
		</div>
		{% for child in comment.children %}
		    <div class="comment depth-2 media">
				<img src="{{ asset(userImage(child.user)) }}" alt="user image" class="avatar pull-left">
				<div class="media-body">
					<p class="font-large">Commented by <a href="#">{{ child.user.getName()|trim ? : child.user.getUsername() }} </a> on {{ child.commentAt|date('F d, y, h:i A')  }} | <a href="#">Reply</a></p>
					<p class="font-large">{{ child.content }}</p>
				</div>
			</div>
		{% endfor %}		
{% endfor %}


<!-- <div class="comment depth-3 media">
	<img src="assets/dest/images/comments/1.jpg" alt="" class="avatar pull-left">
	<div class="media-body">
		<p class="font-large">Posted by <a href="#">Andy</a> on September 23, 2013, 11:59 am   | <a href="#">Reply</a></p>
		<p class="font-large">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
	</div>
</div>

<div class="comment depth-4 media">
	<img src="assets/dest/images/comments/2.jpg" alt="" class="avatar pull-left">
	<div class="media-body">
		<p class="font-large">Posted by <a href="#">Monica</a> on September 23, 2013, 11:59 am   | <a href="#">Reply</a></p>
		<p class="font-large">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
	</div>
</div> -->

<div class="space20">&nbsp;</div>
<hr class="mb40">

{# {{ render(controller('SpBarBlogBundle:Backend/Comment:new', {'post': post.slug } )) }}  #}

{% include 'SpBarBlogBundle::Backend/Comment/new.html.twig' with {'form': form, 'parentPost': post.slug } %}