<div class="box-body">
	<table id="postList" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>S.N.</th>
				<th>Template Name</th>
				<th>Template Type</th>
				<th>Slug</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for template in templates %}
		        <tr>
					<td>{{ loop.index }}</td>
					<td>{{ template.name }} </td>
					<td>{{ template.type }}</td>
					<td> {{ template.slug }} </td>
					<td>
						<a href="{{ path('sp_blog_template_edit',{'slug': template.slug}) }}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Edit"></span>
						</a>
						<a href="{{ path('sp_blog_template_delete',{'slug': template.slug}) }}">
							<span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Delete"></span>
						</a>
					</td>
				</tr>
		    {% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>S.N.</th>
				<th>Template Name</th>
				<th>Template Type</th>
				<th>Slug</th>
				<th>Action</th>
			</tr>
		</tfoot>
	</table>
	{# knp_pagination_render(posts) #}
</div><!-- /.box-body -->