<div class="box-body">
	<div>
		<p><span>Files must be placed on <code><b><i>Templates/..</i></b></code> location on specific folder.</span></p>
	</div>
	<form class="form-horizontal" method="POST" action="{{ path('sp_blog_template_new') }}">

		<div class="form-group">
			<label class="col-sm-2 control-label">{{ form_label(form.name) }}:</label>
			<div class="col-sm-8">
				{{ form_widget(form.name, {"attr" : {"placeholder" : "Type new template name", "class": "form-control"}}) }}
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">{{ form_label(form.templateFile) }}:</label>
			<div class="col-sm-8">
				{{ form_widget(form.templateFile, {"attr" : {"placeholder" : "Type the template file name", "class": "form-control"}}) }}
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">{{ form_label(form.type) }}:</label>
			<div class="col-sm-8">
				{{ form_widget(form.type, {"attr" : {"class": "form-control"}}) }}
			</div>
		</div>

		<div class="form-group">
	        <div class="col-sm-offset-4 col-sm-8">
	            <button type="submit" class="btn btn-info" value="Create">Add</button>
	        </div>
	    </div>

	</form>
</div><!-- /.box-body -->