{% extends ('BlogReportBundle::report_base.html.twig') %}

{% block body %}
	
	<form class="form-horizontal" action="{{ url('addReportPage') }}" method="POST">

        {{ form_errors(form) }}

		<div class="control-group">
			<div class="control-label">
	        	{{ form_label(form.name) }}
	        </div>
	        
	        <div class="controls">
	        	{{ form_widget(form.name, {'attr' : {'placeholder' : 'Report Name'}}) }}
	        	{% if form_errors(form.name) %}
	        		<span class="alert alert-error">{{ form_errors(form.name) }}</span>
	        	{% endif %}
	        </div>
	    </div>

	    <div class="control-group">

	        <div class="control-label">
	        	{{ form_label(form.description) }}
	        </div>

	        <div class="controls">
	        	{{ form_widget(form.description, {'attr' : {'placeholder' : 'Report Description'}}) }}
	        </div>
	    </div>

	    <div class="control-group">

	        <div class="control-label">
	        	{{ form_label(form.sqlQuery) }}
	        </div>

	        <div class="controls">
	        	{{ form_widget(form.sqlQuery, {'attr': {'cols' : '10', 'rows': '10'}}) }}
	        	{% if form_errors(form.sqlQuery) %}
	        		<span class="alert alert-error">{{ form_errors(form.sqlQuery) }}</span>
	        	{% endif %}
	        	{% if sqlError %}
	        		<span class="alert alert-error">{{ sqlError }}</span>
	        	{% endif %}
	        </div>
	    </div>

		{{form_rest(form)}} 
	    
	    <div class="control-group">
	    	<div class="controls">
	    		<input class="btn btn-info" type="submit" value="{% trans from 'BlogReportBundle' %}Generate{% endtrans %}"/>
	        </div>
	    </div>
        {{form_rest(form)}}
        
    </form>

{% endblock body %}