{% extends ('BlogReportBundle::report_base.html.twig') %}

{% block body %}
    <form action="{{ url('showReportPage', {'reportId':app.request.attributes.get('reportId')}) }}" method="POST">
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-info" value="{% trans from 'BlogReportBundle' %}Generate{% endtrans %}"/>
    </form>

    <div class="report-result ">
        {% if result %}

            <table  class="table table-striped">
                <thead>
                <tr>
                    <th> S.N</th>
                    {% for key,value in result %}
                    {% if loop.index0 == 0 %}
                        {% for k, v in value %}
                            
                            <th>
                                    {{ k }}
                            </th>
                            
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for key,row in result %}
                <tr>
                    <td> {{ key+1 }} </td>
                    {% for value in row %}
                    <td>
                        {{ value }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            {% trans from 'PostReportBundle' %}
                <p style="margin: 5px 0; padding: 5px;">No matching results found. You can change the filters above.</p>
            {% endtrans %}
        {% endif %}
    </div>

{% endblock body %}